<div class="container">
  <div class="row">
    <div class="col-xs-12 hidden-xs">
      <div class="pull-right">
        <%= link_to icon('eye', t('links.show'), class: 'fa-fw'), @issue_type,
        class: ['btn','btn-sm','btn-default'] %>
      </div>
    </div>
    <div class="col-xs-12 visible-xs">
      <div class="pull-right">
        <div class="dropdown">
          <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span><i class="fa fa-cog"></i></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
            <li><%= link_to t('links.back'), issues_path %></li>
            <li><%= link_to t('links.show'), @issue_type %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 spaced">
      <h1 class="text-center"><%= t('issue_type.edit_title') %></h1>
    </div>
  </div>
  <section class="form">
    <%= render 'form' %>
  </section>
</div>
