<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-right">
        <%= link_to icon('plus','New Type', class: 'fa-fw'), new_issue_type_path,
        class: ['btn','btn-sm','btn-default'] %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">Types</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'layouts/success_notice', notice: notice %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <% if @issue_types.empty? %>
         <p class="lead text-center">No types yet created.</p>
      <% else %>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th colspan="4"></th>
              </tr>
            </thead>

            <tbody>
              <% @issue_types.each do |issue_type| %>
                <tr>
                  <td>
                    <%= link_to_type issue_type %>
                  </td>
                  <td class="table-option"><%= link_to icon('eye', 'Show', class: 'fa-fw'), issue_type %></td>

                  <td class="table-option"><%= link_to icon('pencil', 'Edit', class: 'fa-fw'), edit_issue_type_path(issue_type) %></td>
                  <td><%= delete_link icon('trash-o', 'Remove', class: 'fa-fw'), issue_type %></td>
                  <td class="table-option">
                    <span><%= issue_type.issues.select{ |i| !i.is_resolved }.count %></span>
                    <span>opened issue(s)</span>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

        </div>
       <% end %>
    </div>
  </div>
</div>
