<div class="container">
  <% if policy(IssueType).new? %>
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-right">
        <div class="hidden-xs">
          <%= link_to icon('plus',t('issue_type.links.new_type'), class: 'fa-fw'), new_issue_type_path,
          class: ['btn','btn-sm','btn-default'] %>
        </div>
        <div class="visible-xs">
          <div class="dropdown">
            <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span><i class="fa fa-cog"></i></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
              <li><%= link_to t('issue_type.links.new_type'), new_issue_type_path %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center"><%= t('issue_type.plural') %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'layouts/notice'  %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <% if @issue_types.empty? %>
      <p class="lead text-center"><%= t('issue_type.empty_array') %></p>
      <% else %>
      <div class="">
        <table class="table">
          <thead>
            <tr>
              <th><%= t('issue_type.name') %></th>
              <th colspan="4"></th>
            </tr>
          </thead>

          <tbody>
            <% @issue_types.each do |issue_type| %>
            <tr>
              <td>
                <%= link_to_type issue_type %>
              </td>
              <td class="hidden-xs table-option"><%= link_to icon('eye', t('links.show'), class: 'fa-fw'), issue_type %></td>
              <% if policy(issue_type).edit? %>
              <td class="hidden-xs table-option"><%= link_to icon('pencil', t('links.edit'), class: 'fa-fw'), edit_issue_type_path(issue_type) %></td>
              <% end %>
              <% if policy(issue_type).destroy? %>
              <td class="hidden-xs table-option"><%= delete_link icon('trash-o', t('links.remove'), class: 'fa-fw'), issue_type %></td>
              <% end %>
              <td class="table-option">
                <span><%= issue_type.issues.select{ |i| !i.is_resolved }.count %></span>
                <span><%= t('issue_type.opened_issues_count') %></span>
              </td>
              <td class="visible-xs">
                <div class="dropdown">
                  <button class="btn btn-sm btn-link dropdown-toggle" type="button"
                  id="issue_type_options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                  <span><i class="fa fa-cog"></i></span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                  <li><%= link_to t('links.show'), issue_type %></li>
                  <% if policy(issue_type).edit? %>
                  <li><%= link_to t('links.edit'), edit_issue_type_path(issue_type) %></li>
                  <% end %>
                  <% if policy(issue_type).destroy? %>
                  <li class="divider"></li>
                  <li><%= delete_link t('links.remove'), issue_type %></li>
                  <% end %>
                </ul>
              </div>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <% end %>
  </div>
</div>
</div>
