<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-left">
        <%= go_back_link issue_types_path %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'layouts/notice'  %>
    </div>
  </div>
  <div class="row spaced">
    <div class="col-xs-12 spaced">
      <p><%= type_label @issue_type, class: 'label-lg' %></p>
    </div>
  </div>
  <div class="row spaced">
    <div class="col-xs-12 spaced">
      <hr>
      <% if @issue_type.issues.empty? %>
      <p class="lead text-center"><%= t('issue_type.empty_issue_array') %></p>
      <% else %>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th><%= t('issue_type.type') %></th>
              <th><%= t('issue_type.status') %></th>
              <th class="hidden-xs"><%= t('issue_type.reporter') %></th>
            </tr>
          </thead>

          <tbody>
            <% @issue_type.issues.each do |issue| %>
            <tr>
              <td><%= link_to issue.title, issue %></td>
              <td>
                <% if issue.is_resolved %>
                <span class="label label-success"><%= t('issue_type.resolved') %></span>
                <% else %>
                <span class="label label-warning"><%= t('issue_type.open') %></span>
                <% end %>
              </td>
              <td class="hidden-xs"><%= issue.user.name %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
      <% end %>
    </div>
  </div>
</div>
