<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-left">
        <%= go_back_link issues_path %>
      </div>
      <div class="pull-right">
        <%= link_to icon('eye', t('links.show'), class: 'fa-fw'), @issue,  class: ['btn','btn-sm','btn-default'] %>
        <%= delete_link icon('trash', t('links.delete'), class: 'fa-fw'), @issue, class: ['btn','btn-sm','btn-danger'] %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <h1 class="text-center"><%= t('issue.edit_title') %></h1>
    </div>
  </div>
  <section class="form">
      <%= render 'form' %>
  </section>
</div>
