<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-right">
        <%= link_to icon('plus', 'New Issue', class: 'fa-fw'), new_issue_path,
        class: 'btn btn-sm btn-default' %>
        <%= link_to icon('plus', 'New Type', class: 'fa-fw'), new_issue_type_path,
        class: 'btn btn-sm btn-default' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">Issues</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'layouts/success_notice', notice: notice %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 spaced">
      <% if @issues.empty? %>
      <p class="lead text-center">No issues yet reported.</p>
      <% else %>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Status</th>
              <th class="hidden-xs">Reporter</th>
              <th class="hidden-xs">Type</th>
            </tr>
          </thead>

          <tbody>
            <% @issues.each do |issue| %>
            <tr>
              <td><%= link_to issue.title, issue %></td>
              <td>
                <% if issue.is_resolved %>
                <span class="label label-success">Resolved</span>
                <% else %>
                <span class="label label-warning">Open</span>
                <% end %>
              </td>
              <td class="hidden-xs"><%= issue.user.name %></td>
              <td class="hidden-xs"><%= link_to_type issue.issue_type %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= paginate @issues %>
    </div>
  </div>
</div>
