<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-right">
        <div class="hidden-xs">
        <% if policy(Issue).new? %>
        <%= link_to icon('plus', t('issue.links.new'), class: 'fa-fw'), new_issue_path,
        class: 'btn btn-sm btn-default' %>
        <% end %>
        <% if policy(IssueType).new? %>
        <%= link_to icon('plus', t('issue.links.new_type'), class: 'fa-fw'), new_issue_type_path,
        class: 'btn btn-sm btn-default' %>
        <% end %>
        </div>
        <div class="visible-xs">
          <div class="dropdown">
            <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              <span><i class="fa fa-cog"></i></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
              <% if policy(Issue).new? %>
              <li><%= link_to t('issue.links.new'), new_issue_path %></li>
              <% end %>
              <% if policy(IssueType).new? %>
              <li><%= link_to t('issue.links.new_type'), new_issue_type_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center"><%= t('issue.plural') %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'layouts/success_notice', notice: notice %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 spaced">
      <% if @issues.empty? %>
      <p class="lead text-center"><%= t('issue.empty_array') %></p>
      <% else %>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th><%= t('issue.title') %></th>
              <th><%= t('issue.status') %></th>
              <th class="hidden-xs"><%= t('issue.reporter') %></th>
              <th class="hidden-xs"><%= t('issue.type') %></th>
            </tr>
          </thead>

          <tbody>
            <% @issues.each do |issue| %>
            <tr>
              <td><%= link_to issue.title, issue %></td>
              <td>
                <% if issue.is_resolved %>
                <span class="label label-normal label-success"><%= t('issue.resolved') %></span>
                <% else %>
                <span class="label label-normal label-warning"><%= t('issue.open') %></span>
                <% end %>
              </td>
              <td class="hidden-xs"><%= issue.user.name %></td>
              <td class="hidden-xs"><%= link_to_type issue.issue_type %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= paginate @issues %>
    </div>
  </div>
</div>
