<div class="container">
  <div class="row">
    <div class="col-md-12 hidden-xs">
      <div class="pull-left">
        <%= link_to icon('chevron-left', t('links.back'), class: 'fa-fw'), issues_path,
        class: ['btn','btn-sm','btn-default']  %>
      </div>
      <div class="pull-right">
        <%= link_to icon('pencil', t('links.edit'), class: 'fa-fw'), edit_issue_path(@issue),
        class: ['btn','btn-sm','btn-default'] %>
        <%= link_to icon('plus', t('issue.links.new'), class: 'fa-fw'), new_issue_path,
        class: ['btn','btn-sm','btn-default'] %>
        <%= link_to icon('plus', t('issue.links.new_type'), class: 'fa-fw'), new_issue_type_path,
        class: 'btn btn-sm btn-default' %>
      </div>
    </div>
    <div class="col-xs-12 visible-xs">
      <div class="pull-right">
        <div class="dropdown">
          <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span><i class="fa fa-cog"></i></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
            <li><%= link_to t('links.back'), issues_path%></li>
            <li><%= link_to t('links.edit'), edit_issue_path(@issue)%></li>
            <li><%= link_to t('issue.links.new'), new_issue_path %></li>
            <li><%= link_to t('issue.links.new_type'), new_issue_type_path %></li>
            <li class="divider"></li>
            <li><%= delete_link t('links.delete'), @issue %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'layouts/success_notice', notice: notice %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center"><%= @issue.title %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr>
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <% if @issue.is_resolved %>
          <span class="label label-lg label-success"><%= t('issue.resolved') %></span>
          <% else %>
          <span class="label label-lg label-warning"><%= t('issue.open') %></span>
          <% end %>
          &nbsp;&nbsp;&nbsp;
          <%= t('issue.created_by') %>
          &nbsp;
          <%= image_tag gravatar(@issue.user.email, 35), height: 35,
          class: 'img-circle' %>

          <%= @issue.user.name %>,
          <%= distance_of_time_in_words @issue.created_at, Time.zone.now %> <%= t('time.past_word') %>

        </div>
        <div class="col-xs-12 col-md-4 spaced-xs">
          <div class="pull-right">
            <% if @issue.is_resolved %>
            <%= link_to t('issue.reopen'), open_issue_path(@issue), class: ['btn','btn-sm','btn-primary'], method: :put %>
            <% else %>
            <%= link_to t('issue.resolve'), close_issue_path(@issue), class: ['btn','btn-sm','btn-default'], method: :delete %>
            <% end %>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <%= simple_format @issue.description %>
    </div>
    <div class="col-xs-12 col-md-3 spaced-xs">
      <hr class="visible-xs">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-muted"><%= t('issue.due_date') %></p>
          <span><%= @issue.due_date ? date(@issue.due_date) : t('issue.not_set') %></span>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="text-muted"><%= t('issue.assignee') %></p>
          <span>
            <% if @assignee %>
            <%= image_tag(gravatar(@assignee.email, 25), height: 25, class: 'img-circle') %>
            <%= @assignee.name %>
            <% else %>
            <%= t('issue.not_set') %>
            <% end %>
          </span>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="text-muted"><%= t('issue.type') %></p>
          <% if @issue.issue_type %>
          <%=  link_to_type @issue.issue_type %>
          <% else %>
          <%= t('issue.not_set') %>
          <% end %>
          <hr>
        </div>
      </div>
    </div>
  </div>
</div>
