<div class="container">
  <div class="row">
    <div class="col-md-12 hidden-xs">
      <div class="pull-right">
        <% if policy(@issue).edit? %>
        <%= link_to icon('pencil', t('links.edit'), class: 'fa-fw'), edit_issue_path(@issue),
        class: ['btn','btn-sm','btn-default'] %>
        <% end %>
        <% if policy(@issue).new? %>
        <%= link_to icon('plus', t('issue.links.new'), class: 'fa-fw'), new_issue_path,
        class: ['btn','btn-sm','btn-default'] %>
        <% end %>
        <% if policy(IssueType).index? %>
        <%= link_to icon('tags', t('issue_type.links.types'), class: 'fa-fw'), issue_types_path,
        class: 'btn btn-sm btn-default' %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 visible-xs">
      <div class="pull-right">
        <div class="dropdown">
          <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span>
              <i class="fa fa-cog"></i>
            </span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
            <li><%= link_to t('links.back'), issues_path%></li>
            <% if policy(@issue).edit? %>
            <li><%= link_to t('links.edit'), edit_issue_path(@issue)%></li>
            <% end %>
            <% if policy(@issue).new? %>
            <li><%= link_to t('issue.links.new'), new_issue_path %></li>
            <% end %>
            <% if policy(IssueType).index? %>
            <li>
              <%= link_to t('issue_type.links.types'), issue_types_path %></li>
            <% end %>
            <% if policy(@issue).destroy? %>
            <li class="divider"></li>
            <li><%= delete_link t('links.delete'), @issue %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'layouts/notice'  %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center"><%= @issue.title %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr>
      <div class="row">
        <div class="col-xs-12 col-md-8">
          <% if @issue.is_resolved %>
          <span class="label label-lg label-success"><%= t('issue.resolved') %></span>
        <% else %>
          <span class="label label-lg label-warning"><%= t('issue.open') %></span>
          <% end %>
          &nbsp;&nbsp;&nbsp;
          <%= t('issue.created_by') %>
          &nbsp;
          <%= image_tag gravatar(@issue.user.email, 35), height: 35,
          class: 'img-circle' %>

          <%= @issue.user.name %>,
          <%= distance_of_time_in_words @issue.created_at, Time.zone.now %>
          <%= t('time.past_word') %>

        </div>
        <div class="col-xs-12 col-md-4 spaced-xs">
          <div class="pull-md-right">
            <%= render 'issues/vote' %>
            <%= render 'issues/status' %>
          </div>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-9">
      <%= simple_format @issue.description %>
    </div>
    <div class="col-xs-12 col-md-3 spaced-xs">
      <hr class="visible-xs">
      <div class="row">
        <div class="col-xs-12">
          <p class="text-muted"><%= t('issue.due_date') %></p>
          <span><%= @issue.due_date ? date(@issue.due_date) : t('issue.not_set') %></span>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="text-muted"><%= t('issue.assignee') %></p>
          <span>
            <% if @assignee %>
            <%= image_tag(gravatar(@assignee.email, 25), height: 25, class: 'img-circle') %>
            <%= @assignee.name %>
          <% else %>
            <%= t('issue.not_set') %>
            <% end %>
          </span>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p class="text-muted"><%= t('issue.type') %></p>
          <% if @issue.issue_type %>
          <%=  link_to_type @issue.issue_type %>
        <% else %>
          <%= t('issue.not_set') %>
          <% end %>
          <hr>
        </div>
      </div>
    </div>
  </div>
  <!-- Comenting -->
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <h3 class="text-center">
        <span class="text-muted">
          <i class="fa fa-fw fa-comments-o"></i>
        </span>&nbsp;<%= t('comment.title') %></h3>
      <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <% if @issue.comments.empty? %>
      <p class="text-center lead"><%= t('comment.empty_array') %></p>
    <% else %>
      <% @issue.comments.each do |comment| %>
      <%= render 'issues/comment', comment: comment %>
      <%  end %>
      <% end %>
      <hr>
    </div>
  </div>
  <%= render 'issues/comment_form' %>
</div>
