<style media="screen">
  .text-center {
    text-align: center;
  }
  .lead {
    font-size: 1.5rem;
    font-weight: 600;
  }
  body {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  }

</style>

<div class="text-center">

  <h1><%= t('email.announcement.title') %></h1>

  <blockquote>
    <%= @announcement.title %>
  </blockquote>

  <p>

  </p>

  <span><%= t('email.announcement.pre_link') %></span>
  <a href="<%=@url%>"><%= t('email.announcement.link') %></a>

</div>
