<style media="screen">
  .text-center {
    text-align: center;
  }
  .lead {
    font-size: 1.5rem;
    font-weight: 600;
  }
  body {
    font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  }

</style>

<div class="text-center">

  <h1 style="text-align: center;"><%= t('email.announcement.title') %></h1>

  <blockquote>
    <h3><%= @announcement.title %></h3>
    <p>
      <%= short @announcement.description %>
    </p>
  </blockquote>

  <span style="text-align: center;"><%= t('email.announcement.pre_link') %>
  <a href="<%=@url%>"><%= t('email.announcement.link') %></a>
  </span>

</div>
