<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">Stronghold</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 text-center">
      <%= render 'layouts/notice' %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 text-center">
      <%=  image_tag 'fortress.svg', height: 250, class: ['text-center'] %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p class="text-center lead"><%= t('app.description') %></p>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 text-center">
      <% if user_signed_in? %>
      <%= link_to icon('bullhorn', t('announcement.plural'), class: 'fa-fw'), announcements_path, class: ['btn','btn-xs-block', 'btn-success'] %>
      <% else %>
      <%= link_to icon('sign-in', t('user.sign_in'), class: 'fa-fw'), new_user_session_path, class: ['btn','btn-xs-block' ,'btn-info'] %>
      <% end %>

    </div>
  </div>
</div>
