<div class="container">
  <div class="row">
    <div class="col-md-12 hidden-xs">
    <div class="pull-right">
      <%= link_to icon('plus', 'Create Event', class: 'fa-fw'),
       new_event_path, class: ['btn', 'btn-sm', 'btn-default'] %>
    </div>
    </div>
    <div class="col-xs-12 visible-xs">
      <div class="pull-right">
        <div class="dropdown">
          <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span><i class="fa fa-cog"></i></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
            <li><%= link_to 'Create event', new_event_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center">Events</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'layouts/success_notice', notice: notice %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <div class="table-responsive">

        <table class="table table-striped">
          <thead>
            <tr class="text-center">
              <th>Title</th>
              <th>Event time</th>
            </tr>
          </thead>

          <tbody>
            <% @events.each do |event| %>
              <tr>
                <td>
                  <span><i class="fa fa-sun-o"></i></span>
                  <%= link_to event.title, event %>
                </td>
                <td><%= date_time event.time %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12"></div>
  </div>
</div>
