<div class="container">
  <div class="row">
    <div class="col-md-12 hidden-xs">
      <div class="pull-right">
        <% if policy(Event).new? %>
        <%= link_to icon('plus', t('event.links.new'), class: 'fa-fw'),
        new_event_path, class: ['btn', 'btn-sm', 'btn-default'] %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12 visible-xs">
      <div class="pull-right">
        <div class="dropdown">
          <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span><i class="fa fa-cog"></i></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
            <% if policy(Event).new? %>
            <li><%= link_to t('event.links.new'), new_event_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1 class="text-center"><%= t('event.plural') %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= render 'layouts/notice'  %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
      <% if @events.empty? %>
      <p class="lead text-center"><%= t('event.empty_array') %></p>
      <% else %>
      <div class="table-responsive">

        <table class="table table-striped">
          <thead>
            <tr class="text-center">
              <th><%= t('event.title') %></th>
              <th><%= t('event.time') %></th>
            </tr>
          </thead>

          <tbody>
            <% @events.each do |event| %>
            <tr>
              <td>
                <span><i class="fa fa-sun-o"></i></span>
                <%= link_to event.title, event %>
              </td>
              <td><%= l event.time, format: :long %></td>
            </tr>
            <% end %>
          </tbody>
        </table>

      </div>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-right">
        <%= paginate @events %>
      </div>
    </div>
  </div>
</div>
