<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-md-12 hidden-xs">
          <div class="pull-right">
            <% if policy(@event).edit? %>
            <%= link_to icon('pencil', t('links.edit'), class: 'fa-fw'),
            edit_event_path(@event),
            class: ['btn', 'btn-sm', 'btn-default'] %>
            <% end %>
            <% if policy(@event).new? %>
            <%= link_to icon('plus', 'Create event', class: 'fa-fw'),
            new_event_path,
            class: ['btn', 'btn-sm', 'btn-default'] %>
            <% end %>
            <% if policy(@event).destroy? %>
            <%= delete_link icon('trash-o', t('links.delete'), class: 'fa-fw'), @event,
            class: ['btn', 'btn-sm', 'btn-danger'] %>
            <% end %>
          </div>
        </div>
        <!-- Mobile menu -->
        <div class="col-xs-12 visible-xs">
          <div class="pull-right">
            <div class="dropdown">
              <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span><i class="fa fa-cog"></i></span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                <li><%= link_to t('links.back'), events_path%></li>
                <% if policy(@event).edit? %>
                <li><%= link_to t('links.edit'), edit_event_path(@event)%></li>
                <% end %>
                <% if policy(@event).new? %>
                <li><%= link_to t('event.links.new'), new_event_path %></li>
                <% end %>
                <li class="divider"></li>
                <% if policy(@event).destroy? %>
                <li><%= delete_link t('links.delete'), @event %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
        <!-- ./Mobile menu -->
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= render 'layouts/notice'  %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-center">
            <%= @event.title %>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 spaced">
          <hr>
          <div class="row">
            <div class="col-xs-12 col-md-3">
              <%= image_tag gravatar(@event.user.email, 25), height: 25, class: 'img-circle' %>
              &nbsp;
              <%= mail_to  @event.user.email, @event.user.name %>
            </div>
            <div class="col-xs-12 col-md-3 spaced-xs">
              <span class="text-muted"><i class="fa fa-clock-o fa-fw"></i></span>
              &nbsp;
              <%= l @event.time, format: :long %>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-xs-12 col-md-offset-2 spaced">
          <%= simple_format @event.description %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
        </div>
      </div>
    </div>
  </div>
</div>
