<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-md-12 hidden-xs">

          <div class="pull-left">
            <%= link_to icon('chevron-left', 'Back', class: 'fa-fw'), events_path,
            class: ['btn', 'btn-sm', 'btn-default'] %>
          </div>
          <div class="pull-right">
            <%= link_to icon('pencil', 'Edit', class: 'fa-fw'),
            edit_event_path(@event),
            class: ['btn', 'btn-sm', 'btn-default'] %>
            <%= link_to icon('plus', 'Create event', class: 'fa-fw'),
            new_event_path,
            class: ['btn', 'btn-sm', 'btn-default'] %>
            <%= delete_link icon('trash-o', 'Delete', class: 'fa-fw'), @event,
             class: ['btn', 'btn-sm', 'btn-danger'] %>
          </div>
        </div>
        <!-- Mobile menu -->
        <div class="col-xs-12 visible-xs">
          <div class="pull-right">
            <div class="dropdown">
              <button class="btn btn-sm btn-info dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span><i class="fa fa-cog"></i></span>
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                <li><%= link_to 'Back', events_path%></li>
                <li><%= link_to 'Edit', edit_event_path(@event)%></li>
                <li><%= link_to 'Create event', new_event_path %></li>
                <li class="divider"></li>
                <li><%= link_to 'Delete', @event, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- ./Mobile menu -->
      </div>
      <div class="row">
        <div class="col-xs-12">
          <%= render 'layouts/success_notice', notice: notice %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-center">
            <%= @event.title %>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 spaced">
          <hr>
          <div class="row">
            <div class="col-xs-12 col-md-3">
              <%= image_tag gravatar(@event.user.email, 25), height: 25, class: 'img-circle' %>
              &nbsp;
              <%= mail_to  @event.user.email, @event.user.name %>
            </div>
            <div class="col-xs-12 col-md-3 spaced-xs">
              <span class="text-muted"><i class="fa fa-clock-o fa-fw"></i></span>
              &nbsp;
              <%= date_time @event.time %>
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-xs-12 col-md-offset-2 spaced">
          <%= simple_format @event.description %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
        </div>
      </div>
    </div>
  </div>
</div>
