<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
  aria-haspopup="true" aria-expanded="false"><%= current_user.name %>&nbsp;<span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li class="text-center"><%= image_tag gravatar(current_user.email, 30), height: 30, class: 'img-circle' %></li>
    <li class="divider"></li>
    <li><%= link_to icon('trophy', t('achievements.title'), class: 'fa-fw'), achievements_path %></li>
    <li><%= link_to icon('pencil', t('user.edit_account'), class: 'fa-fw'), edit_user_registration_path(current_user) %></li>
    <% if policy(current_user).create? %>
    <li class="divider"></li>
    <li><%= link_to icon('key', t('user.register'), class: 'fa-fw'), new_user_registration_path %></li>
    <% end %>
    <li class="divider"></li>
    <li><%= link_to(icon('sign-out', t('user.sign_out'), class: 'fa-fw'), destroy_user_session_path, method: :delete) %></li>
  </ul>
</li>
